
@font-face {
    font-family: 'opyate retro';
    src: url('assets/font/opyate-font/opyateretro-regular-webfont.woff2') format('woff2'),
         url('assets/font/opyate-font/opyateretro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'road rage';
    src: url('assets/font/road-rage-font/roadrage-regular-webfont.woff2') format('woff2'),
         url('assets/font/road-rage-font/roadrage-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }